/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "blueprint/typography";
@import "blueprint/grid";

$background: #BDDFB3;
$article: lighten($background, 20%);
$emphasized: #D85175;
$text: #333;
$intro: darken(lighten($background, 20%), 5%);

$blueprint-font-family: 'Vollkorn', Bakersville, Georgia, "Times New Roman", Times, serif;
$blueprint-font-size: 16px;

@include blueprint-typography;

body {
  background-color: $background;
  color: $text;

  article {
    @include container;

    a {
      @include link-colors(darken($background, 50%), darken($background, 30%), $background, darken($background, 20%));
    }

    #{headings()}, p, ul, li {
      margin-left: 40px;
      margin-right: 40px;
    }

    h2 { font-size: 180%; }
    h3 { font-size: 120%; }

    p.first:first-letter {
      font-weight: bold;
      font-size: 180%;
      line-height: 0.85em;
    }

    p > strong {
      background: lighten(yellow, 40%);
    }

    p#accounts {
      font-size: 120%;

      a {
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 18px;
        margin-left: 5px;

        &.twitter { background-image: url(images/twitter.png);}
        &.linkedin { background-image: url(images/linkedin.gif);}
        &.pintrest { background-image: url(images/pintrest.png);}
        &.blog { background-image: url(images/blog.png);}
      }
    }

    background: $article;

    p.emphasized {
      font-family: "Just Me Again Down Here";
      font-size: 200% !important;
      @include background-image(
        linear-gradient(top, $emphasized, darken($emphasized, 10%))
      );
      color: white;
      font-size: 120%;
      font-weight: bold;
      padding: 10px 40px;
      margin-left: 0;
      margin-right: 0;
    }

    #intro {
      @include background-image(
        url(images/lauren300.jpg),
        linear-gradient(top, $intro, darken($intro, 10%))
      );
      @include single-box-shadow(darken($article, 20%), 0px, -10px, 20px, -10px, true);

      position: relative;

      a#resume {
        @include unstyled-link;
        @include border-radius(8px);

        color: lighten($background, 20%);
        @include background-image(
        linear-gradient(top, $emphasized, darken($emphasized, 10%))
      );
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 5px 12px;
      }

      h1 {
        font-size: 200%;
        padding: 8px;
        background: image-url("indiegogo_logo.png") no-repeat 65px 10px;

        span {
          width: 165px;
          visibility: hidden;
          display: inline-block;
        }
        img {
          position: absolute;
          display: block;
          float: left;
        }
      }

      color: black;
      background-position: left;
      background-repeat: no-repeat;
      padding: 14px 0 13px 300px;
      font-size: 110%;
      margin-bottom: 40px;

      p + p { margin-bottom: 0; margin-top: 1em;}

      strong {
        @include single-box-shadow(darken($intro, 5%), 2px, 2px, 1px, 1px);
        background-color: lighten($intro, 3%);
        padding: 0 4px;
        font-size: 95%;
      }
    }

    section#clients {
      @include float-right;
      @include border-radius(20);
      background: darken($article, 3%);
      margin: 10px;
      padding: 20px;
      font-size: 80%;

      & * { margin: 0; }
    }

    section#writing-samples {
      border-top: 1px solid darken(white, 10%);
      @include background-image(
        linear-gradient(bottom, white, darken(white, 5%))
      );
      padding: 15px 0;
    }

    hr {
      @include colruler;
      width: 90%;
      margin: 40px auto;
    }

    ul#pitching, ul#clients {
      @include inline-block-list;

      margin: 0px auto;
      text-align: center;

      li { padding: 0 10px; }
    }

    ul#clients {
      li { 
        padding: 0;
        margin: 0;

        & + li { margin-left: 30px; }
      }
      margin-bottom: 40px;
    }

    ul#fit {
      @include no-bullet;
      margin-left: 15px;

      li {
        margin-left: 0;
        background: image-url("bullet.png") no-repeat left 15px;
        padding: 15px 0 15px 40px;
      }
    }

    ul#samples {
      @include no-bullet;
      li {
        margin-left: 0;
        padding: 10px 0 0 30px;
        background: image-url("pdf.png") no-repeat 0 10px;
      }
    }


  }
}