/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 33, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Vollkorn", Bakersville, Georgia, "Times New Roman", Times, serif;
  color: #333333;
  font-size: 100%;
}

/* line 51, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 22, ../sass/screen.scss */
body {
  background-color: #bddfb3;
  color: #333333;
}
/* line 26, ../sass/screen.scss */
body article {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background: #fbfdfb;
}
/* line 29, ../sass/screen.scss */
body article a {
  color: #39672c;
}
/* line 18, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body article a:visited {
  color: #7fc16b;
}
/* line 24, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body article a:hover {
  color: #61af4a;
}
/* line 27, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body article a:active {
  color: #bddfb3;
}
/* line 33, ../sass/screen.scss */
body article h1, body article h2, body article h3, body article h4, body article h5, body article h6, body article p, body article ul, body article li {
  margin-left: 40px;
  margin-right: 40px;
}
/* line 38, ../sass/screen.scss */
body article h2 {
  font-size: 180%;
}
/* line 39, ../sass/screen.scss */
body article h3 {
  font-size: 120%;
}
/* line 41, ../sass/screen.scss */
body article p.first:first-letter {
  font-weight: bold;
  font-size: 180%;
  line-height: 0.85em;
}
/* line 47, ../sass/screen.scss */
body article p > strong {
  background: #ffffcc;
}
/* line 51, ../sass/screen.scss */
body article p#accounts {
  font-size: 120%;
}
/* line 54, ../sass/screen.scss */
body article p#accounts a {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 18px;
  margin-left: 5px;
}
/* line 60, ../sass/screen.scss */
body article p#accounts a.twitter {
  background-image: url(images/twitter.png);
}
/* line 61, ../sass/screen.scss */
body article p#accounts a.linkedin {
  background-image: url(images/linkedin.gif);
}
/* line 62, ../sass/screen.scss */
body article p#accounts a.pintrest {
  background-image: url(images/pintrest.png);
}
/* line 63, ../sass/screen.scss */
body article p#accounts a.blog {
  background-image: url(images/blog.png);
}
/* line 69, ../sass/screen.scss */
body article p.emphasized {
  font-family: "Just Me Again Down Here";
  font-size: 200% !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d85175), color-stop(100%, #c92d57));
  background-image: -webkit-linear-gradient(top, #d85175, #c92d57);
  background-image: -moz-linear-gradient(top, #d85175, #c92d57);
  background-image: -o-linear-gradient(top, #d85175, #c92d57);
  background-image: -ms-linear-gradient(top, #d85175, #c92d57);
  background-image: linear-gradient(top, #d85175, #c92d57);
  color: white;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 40px;
  margin-left: 0;
  margin-right: 0;
}
/* line 83, ../sass/screen.scss */
body article #intro {
  background-image: url(images/lauren300.jpg), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ecf6e9), color-stop(100%, #cde7c5));
  background-image: url(images/lauren300.jpg), -webkit-linear-gradient(top, #ecf6e9, #cde7c5);
  background-image: url(images/lauren300.jpg), -moz-linear-gradient(top, #ecf6e9, #cde7c5);
  background-image: url(images/lauren300.jpg), -o-linear-gradient(top, #ecf6e9, #cde7c5);
  background-image: url(images/lauren300.jpg), -ms-linear-gradient(top, #ecf6e9, #cde7c5);
  background-image: url(images/lauren300.jpg), linear-gradient(top, #ecf6e9, #cde7c5);
  -webkit-box-shadow: inset 0px -10px 20px -10px #bddfb3;
  -moz-box-shadow: inset 0px -10px 20px -10px #bddfb3;
  box-shadow: inset 0px -10px 20px -10px #bddfb3;
  position: relative;
  color: black;
  background-position: left;
  background-repeat: no-repeat;
  padding: 11px 0 11px 300px;
  font-size: 110%;
  margin-bottom: 40px;
}
/* line 92, ../sass/screen.scss */
body article #intro a#resume {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: #fbfdfb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d85175), color-stop(100%, #c92d57));
  background-image: -webkit-linear-gradient(top, #d85175, #c92d57);
  background-image: -moz-linear-gradient(top, #d85175, #c92d57);
  background-image: -o-linear-gradient(top, #d85175, #c92d57);
  background-image: -ms-linear-gradient(top, #d85175, #c92d57);
  background-image: linear-gradient(top, #d85175, #c92d57);
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px 12px;
}
/* line 6, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
body article #intro a#resume:active, body article #intro a#resume:focus {
  outline: none;
}
/* line 106, ../sass/screen.scss */
body article #intro h1 {
  font-size: 200%;
  padding: 10px;
  background: url('images/ridejoy_logo.png') no-repeat 65px 6px;
}
/* line 111, ../sass/screen.scss */
body article #intro h1 span {
  width: 165px;
  visibility: hidden;
  display: inline-block;
}
/* line 116, ../sass/screen.scss */
body article #intro h1 img {
  position: absolute;
  display: block;
  float: left;
}
/* line 130, ../sass/screen.scss */
body article #intro p + p {
  margin-bottom: 0;
  margin-top: 1em;
}
/* line 132, ../sass/screen.scss */
body article #intro strong {
  -webkit-box-shadow: 2px 2px 1px 1px #dceed7;
  -moz-box-shadow: 2px 2px 1px 1px #dceed7;
  box-shadow: 2px 2px 1px 1px #dceed7;
  background-color: #f5faf4;
  padding: 0 4px;
}
/* line 139, ../sass/screen.scss */
body article section#clients {
  display: inline;
  float: right;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -ms-border-radius: 20;
  -o-border-radius: 20;
  border-radius: 20;
  background: #f2f9f0;
  margin: 10px;
  padding: 20px;
  font-size: 80%;
}
/* line 147, ../sass/screen.scss */
body article section#clients * {
  margin: 0;
}
/* line 150, ../sass/screen.scss */
body article section#writing-samples {
  border-top: 1px solid #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(bottom, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(bottom, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(bottom, #ffffff, #f2f2f2);
  background-image: -ms-linear-gradient(bottom, #ffffff, #f2f2f2);
  background-image: linear-gradient(bottom, #ffffff, #f2f2f2);
  padding: 15px 0;
}
/* line 158, ../sass/screen.scss */
body article hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  width: 90%;
  margin: 40px auto;
}
/* line 164, ../sass/screen.scss */
body article ul#pitching, body article ul#clients {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0px auto;
  text-align: center;
}
/* line 49, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
body article ul#pitching li, body article ul#clients li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
/* line 7, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body article ul#pitching li, body article ul#clients li {
  *display: inline;
}
/* line 170, ../sass/screen.scss */
body article ul#pitching li, body article ul#clients li {
  padding: 0 10px;
}
/* line 173, ../sass/screen.scss */
body article ul#clients {
  margin-bottom: 40px;
}
/* line 174, ../sass/screen.scss */
body article ul#clients li {
  padding: 0;
  margin: 0;
}
/* line 178, ../sass/screen.scss */
body article ul#clients li + li {
  margin-left: 30px;
}
/* line 183, ../sass/screen.scss */
body article ul#fit {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  margin-left: 15px;
}
/* line 187, ../sass/screen.scss */
body article ul#fit li {
  margin-left: 0;
  background: url('images/bullet.png') no-repeat left 15px;
  padding: 15px 0 15px 40px;
}
/* line 194, ../sass/screen.scss */
body article ul#samples {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 196, ../sass/screen.scss */
body article ul#samples li {
  margin-left: 0;
  padding: 10px 0 0 30px;
  background: url('images/pdf.png') no-repeat 0 10px;
}
